fieldset {
  background-color:#fff;
  min-width:95%;
  padding:16px;	
}

select, input {
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  max-width: 600px;
  width:100%;
}

select {
  max-width: 300px;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}
label:after { content: ": " }
